nav{
    height: 77px;
    width: 100%;
   
}

nav ul{
    float: right;
}

nav li{
    display: inline-block;
    padding-right: 10px;
}

label #btn{
    float: left;
    padding-right: 10px;
    cursor: pointer;
    display: none;
}

label #cancel{
    float: right;
    padding-right: 10px;
    cursor: pointer;
    display: none;
  
}

#mark {
    display: none;
}

@media screen and (max-width: 480px) {
    label #btn {
    display: block;
   }

   nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
   }

   nav li{
    display: block;
   }
    
   #mark:checked ~ ul{
    left:0;
   }
   #mark:checked ~ label #btn{
    display: none;
   }
   #mark:checked ~ label #cancel{
    display: block;
   }
}