nav{
    height: 77px;    
    padding: 15px;
   
}


nav ul{
    float: right;
}

a{
    font-size: larger;
    
}

nav li{
    display: inline-block;
    padding-right: 20px;
    
    
    
}

label #btn{
    float: left;
    padding-right: 10px;
    cursor: pointer;
    display: none;
}

label #cancel{
    float: right;
    padding-right: 10px;
    cursor: pointer;
    display: none;
  
}

#mark {
    display: none;
}

li a:hover{
    color: #F72D57;
    
}



.active{
    text-decoration: underline;
    color: #F72D57;
    

}

@media screen and (max-width: 480px) {
    label #btn {
    display: block;
   }

   nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
    background-color: #F72D57;
   
   }

   nav li{
    display: block;
   
   }
    
   #mark:checked ~ ul{
    left:0;
   }
   #mark:checked ~ label #btn{
    display: none;
   }
   #mark:checked ~ label #cancel{
    display: block;
   }
   button{
    background-color: aliceblue;
    color:#F72D57;
   }

   button:hover{
    color: #FFFFFF;
    background-color: #F72D57;
   }

  
}

