.tab{
    background-color: aliceblue;
    color:#F72D57;
    width: 140px;
    height: 46px;
    border-radius: 5px;
    border-color: #F72D57;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    

}
.tab:hover{    
    color: #FFFFFF;
    background-color: #F72D57; 
   
}
.tab.active{
    color: #FFFFFF;
    background-color: #F72D57;
}

.tab-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    

}
.swiper-pagination {
    position: absolute;
    bottom: 20px;
    
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #F72D57;
  } 
  
.react-tabs__tab--selected {
    background-color: #F72D57;
    color: #FFFFFF;
    border-color: #F72D57;
  }

.card{
    text-align: center;
    font-family: Poppins;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}

.slider{
    border-radius: 5px;
    background-color: bisque;
}

h2{
    text-align: center;
}
.foodcard{
    padding: 50px 100px 50px 100px;
}


@media screen and (max-width: 480px) {
    .foodcard{
        padding: 10px;
    }

    h2{
        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;
        line-height: 45px;
        text-align: left;
  
      }

      .tab-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:5px; 
        
        .foodcard {
            padding:10px;
        }
         
    
    }
    

}