.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Three columns */
    grid-gap: 10px; /* Adjust spacing between grid items */
  }
  
  
  
  /* Style odd rows */
  .grid-item:nth-child(odd) {
   display: flex; 
  }
  
  /* Style even rows */
  .grid-item:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    
    
  }