.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 50px; 
    
  }

li{
    font-family: "Netflix Sans", sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 30px;
    text-align: left; 

}

.flex-container{
    display: flex;
    background-color: #F72D57;
    color: white;   
    height: 200px;
    gap:40px;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
   
}


.icon{
    width: 24px;
    height: 24px;
    padding-left: 28px;
    
}



h1{
    font-family: "Font";
    font-weight: 300; 
    font-size: 55px;
    line-height: 20px; 
    text-align: center;
}
.mobile-icon{
    display: none;
}

@media screen and (max-width: 480px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 10px;
        
      }

      .flex-container{
        display: block;
        padding: 0;
        height: 100%;
       
    }
    .icon-head{
        display: none;
        
    }
    h1{
        padding-top: 30px;
    }
    li{
        
        font-size: 12px; 
        font-weight: 300; 
        line-height: 20px;
        text-align: left; 
    
    }
    .mobile-icon{
        display: block;
        justify-content: center;
        padding:25px 0 30px 30px;
        

    }

}